{% schema %}
  {
    "name": "Blog overview",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "blog",
        "name": "Blog",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          }          
        ]
      }
    ]
  }
{% endschema %}

{% for block in section.blocks %}
  <div class="blog">
    <div class="blog-header">
      <h2>{{ block.settings.blog.title }}</h2>
      <a href="{{ block.settings.blog.url }}" style="text-transform:uppercase;">See all</a>
    </div>
    {% for article in block.settings.blog.articles limit:3 %}
      {% render 'article-card', 
        blog: blog, 
        article: article, 
        media_height: adapt,
        show_image: true, 
        show_date: false, 
        show_author: false, 
        show_excerpt: false %}
    {% endfor %}
  </div>
{% endfor %}