{% schema %}
  {
    "name": "FAQ",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }          
        ]
      }
    ]
  }
{% endschema %}

 <div>
   {% for block in section.blocks %}
     <div>
       <h2>{{ block.settings.menu.title }}</h2>
        <ul class="faq-menu-list">
          {%- for link in block.settings.menu.links -%}
            <li>
              <a class="" href="{{ link.url }}" style="">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
     </div>
   {% endfor %}
 </div>