{% schema %}
  {
    "name": "FAQ",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }          
        ]
      }
    ]
  }
{% endschema %}

<style>
  .faq {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .faq-menu {
    
  }

  .faq-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .faq-menu-list li a {
    text-decoration: none;
    color: black;
  }
</style>

 <div class="faq">
   {% for block in section.blocks %}
     <div class="faq-menu">
       <h2>{{ block.settings.menu.title }}</h2>
        <ul class="faq-menu-list">
          {%- for link in block.settings.menu.links limit: 4 -%}
            <li>
              <a class="" href="{{ link.url }}" style="">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
       <a></a>
     </div>
   {% endfor %}
 </div>