{% schema %}
  {
    "name": "Feature",
    "class": "section",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "limit": 3,
        "settings": []
      }
    ]
  }
{% endschema %}

<div>test</div>