<div>
  <iframe width="320" height="440" src="{{ section.settings.post_url }}/embed" frameborder="0"></iframe>
</div>

{% schema %}
{
  "name": "Instagram",
  "settings": [],
   "settings": [
    {
      "type": "text",
      "id": "post_url",
      "default": "instagram.com",
      "label": "Post link"
    }
  ],
  "presets": [
  {
    "name": "Instagram collection",
    "category": "TEST"
  }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
