{% style %}

  .instagram_post {
    max-width: 225px;
    object-fit: contain;
    height: auto;
  }

  .instapost_container {
    max-height: 400px;
  }

  .section_title {
    font-size:{{ section.settings.title_size }}px;
  }
{% endstyle %}
<div>
  <h2 class="section_title">{{ section.settings.section_title }}</h2>
  <div class="instapost_container">
    {% for block in section.blocks%}
      {% if block.settings.post_image != null %}
       {{ block.settings.post_image | image_url: width: 1420 | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '275, 550, 710, 1420',
          class: 'instagram_post'
        }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Instagram",
  "settings": [],
   "settings": [
    {
      "type": "text",
      "id": "section_title",
      "default": "Title here",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 10,
      "max": 40,
      "step": 2,
      "default": 20,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    }
  ],
   "blocks": [
    {
      "type": "Instagram_post",
      "name": "Instagram post",
      "settings": [
        {
          "type": "image_picker",
          "id": "post_image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "post_title",
          "label": "Title of post"
        },
        {
           "type": "color",
           "id": "text_color",
           "label": "Text color",
           "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "collection_title_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 10,
          "max": 60,
          "step": 2,
          "unit": "px",
          "label": "text size",
          "default": 10
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Instagram collection",
    "category": "TEST"
  }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
